In [2]:
import pandas as pd 

df = pd.read_csv('FFA-W3-241.txt', delimiter='\t')
df

     -180       0     0.1     0.2
0    -175  0.1736  0.0114  0.0218
1    -170  0.3420  0.0452  0.0434
2    -165  0.5000  0.1005  0.0647
3    -160  0.6428  0.1755  0.0855
4    -155  0.7660  0.2679  0.1057
..    ...     ...     ...     ...
99    160 -0.6428  0.1755 -0.0855
100   165 -0.5000  0.1005 -0.0647
101   170 -0.3420  0.0452 -0.0434
102   175 -0.1736  0.0114 -0.0218
103   180  0.0000  0.0000  0.0000

[104 rows x 4 columns]